@charset "utf-8";

/* 공지사항 슬라이드 줌아웃 효과 */

#customer_section .cust_slideInner { 
    animation: zoomOutLog 3s both;
    background-image: url(../images/sub_hero_img4.jpg);
}
    
/* Zooming exits */
  @-webkit-keyframes zoomOutLog {
    from {
      opacity: 1;
      -webkit-transform: scale3d(1.1, 1.1, 1.1);
      transform: scale3d(1.1, 1.1, 1.1);
    }
  
    to {
      opacity: 1;
      -webkit-transform: scale3d(1.0, 1.0, 1.0);
      transform: scale3d(1.0, 1.0, 1.0);
    }
  }
  
  @keyframes zoomOutLog {
   from {
       opacity: 1;
       -webkit-transform: scale3d(1.1, 1.1, 1.1);
       transform: scale3d(1.1, 1.1, 1.1);
    }
   
    to {
       opacity: 1;
       -webkit-transform: scale3d(1.0, 1.0, 1.0);
       transform: scale3d(1.0, 1.0, 1.0);
    }
  }
  .animate__zoomOut {
    -webkit-animation-name: zoomOut;
    animation-name: zoomOut;
  }
  
  /* 공지사항 슬라이드 텍스트(h2) 애니메이션 */
  .cust_slide h2 { animation: fadeInDown 2s both; }
  @keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
    
    /* 공지사항 슬라이드 텍스트(p) 애니메이션 */ 
    .cust_slide p { animation: fadeInUp 2s both 0.5s; }
    @keyframes fadeInUp {
      from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
      }
      
      to {
        opacity: 1;
         -webkit-transform: translate3d(0, 0, 0);
         transform: translate3d(0, 0, 0);
      }
  }

.cust_slide .cust_slideInner { 
    background-size: cover;
    background-repeat: no-repeat;
    height: 394px;
}
.cust_slideInner { background-image: url(../images/sub_hero_img4.jpg); }
#customer_section { padding: 0 0 100px; }
#customer_section .cust_slideInner { position: relative; }
#customer_section .cust_inner_text { 
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%,-50%); }
#customer_section .cust_slideInner h2 { 
    font-size: 38px; color: #fff;
    text-align: center; padding-top: 130px; }
#customer_section .cust_slideInner p { 
    font-size: 15px; color: #ffffffbf; 
    text-align: center;  padding-top: 15px; }

/* 중간 select 지점 */
.sectMenu_box { border-bottom: 1px solid #e9e9e9; }    
.sectMenu_box a:nth-child(1) { 
    display: inline-block;
    padding: 20px 20px;
    margin-left: 382px;
    height: 60px;
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9; }
.sectMenu_box a:nth-child(2) {
    display: inline-block;
    padding: 20px 25px;
    border-right: 1px solid #e9e9e9;
    font-family: 'Titillium Web', sans-serif;
    color: #7a7a7a;
}
.sectMenu_box a:nth-child(2):after {
    content: '\f107';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #ccc;
    position: relative; left: 13px; }
.sectMenu_box a:nth-child(3) {
    display: inline-block;
    padding: 20px 25px;
    border-right: 1px solid #e9e9e9; 
    color: #653811;}
.sectMenu_box a:nth-child(3):after {
    content: '\f107';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #ccc;
    position: relative; left: 13px; }

/* 공지사항 */
.notice { margin-top: 10px; }
.notice h2 { 
    font-size: 38px; color: #222; 
    text-align: center; padding: 100px 0; }
.notice table { font-size: 15px; color: #777; text-align: center; }
.notice table caption { display: none; }
.notice table th { padding: 17px 0; }
.notice table tr:nth-child(1) { 
    color: #000; border-top: 1px solid #000; 
    border-bottom: 1px solid #e9e9e9; }
.notice table td { padding: 17px 15px; border-bottom: 1px solid #e9e9e9; }
.notice .table_text { text-align: left; }
.notice .table_text a:hover { color: #6693fb; }


.notice table col:nth-child(1) { width:15% }
.notice table col:nth-child(2) { width:60% }

.search_box { padding-top:100px; position: relative; left: 367px; top: 40px; }
.search_box select,
.search_box input[type=text] { 
    font-size:14px; color:#666; padding:4px 12px;
    height:38px; border:1px solid #dee2e6; border-radius:3px }
.search_box input[type=text] { width:160px }
.search-button { position: relative; top: 3px; left: 628px; }
.search-button input[type=submit] {
    display: inline-block; padding: 8px 14px; background: #adb5bd; 
    border-color: #adb5bd; color: #fff; border-radius: 3px;
    height: 38px; transition: all 0.5s; }
.search-button input[type=submit]:hover { background: #c3cbd3; }

@media screen and (max-width:713px) {

  /* 본문 슬라이드 텍스트 */
  #customer_section .cust_slideInner h2 { 
    font-size: 28px; color: #fff;
    text-align: center; padding-top: 130px; }
  #customer_section .cust_slideInner p { 
    font-size: 14px; color: #ffffffbf; 
    text-align: center;  padding-top: 15px; }

  /* 중간 select 지점 */
  #customer_section .sectMenu_box a:nth-child(1) { 
    display: inline-block;
    padding: 20px 20px;
    margin-left: 382px;
    height: 60px;
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    display: none; }

  #customer_section .sectMenu_box a:nth-child(2) {
    display: inline-block;
    padding: 20px 25px;
    border-right: 1px solid #e9e9e9;
    font-family: 'Titillium Web', sans-serif;
    color: #7a7a7a; font-size: 14px; }
  
  #customer_section .sectMenu_box a:nth-child(3) {
    display: inline-block;
    padding: 20px 25px;
    border-right: 1px solid #e9e9e9; 
    color: #653811; font-size: 14px; }

  /* 공지사항 */
  #customer_section .notice h2 { 
    font-size: 32px; color: #222; 
    text-align: center; padding: 60px 0 40px; }
  #customer_section .notice tr th { font-size: 14px; }
  #customer_section .notice tr td { font-size: 13px; }
  
  /* 검색창 + 버튼 */
  #customer_section .search_box {
    padding-top:50px; position: relative;
    left: 5%; top: 0; display: inline-block; }
  #customer_section .search_box select,
  #customer_section .search_box input[type=text] { 
      font-size:14px; color:#666; padding:4px 12px;
      height:38px; border:1px solid #dee2e6; border-radius:3px }
  #customer_section .search_box input[type=text] { width:160px }
  #customer_section .search-button { position: relative; top: 0; left: 5%; display: inline-block; }
  #customer_section .search-button input[type=submit] {
      display: block; padding: 8px 14px; background: #adb5bd; 
      border-color: #adb5bd; color: #fff; border-radius: 3px;
      height: 38px; transition: all 0.5s; }
  #customer_section .search-button input[type=submit]:hover { background: #c3cbd3; }
  



}

  