@charset "utf-8";
@import "reset.css";
@import "common.css";

#join2_section { padding: 69px 0 300px; }
.join2_box { margin-top: 30px; }
.join2_form { width: 25%; margin: 0 auto; }

.join2_box h2 { 
    font-size: 44px; font-family: 'Titillium Web', sans-serif; 
    text-align: center; padding: 60px 0 0; }
.join2_form ul li { padding: 10px 0; }
.join2_form label { display: block; }
.join2_form .tit_lbl { 
    margin: 19px 0 8px;  
    font-size: 14px; color: #000; 
    font-family: '나눔고딕'; font-weight: 700; }
.join2_form .tit_lbl span { font-size: 12px; color: #8e8e8e; }
.join2_form .info_content input[type=text],
.join2_form .info_content input[type=password],
.join2_form .info_content select { 
    padding: 0 1em;
    width: 460px; height: 51px;
    border: none; color: #777;
    background: #f8f9fa; }
.join2_form .info_content select { margin-bottom: 10px; }

.join2_form .btn { margin-top: 20px; }
.join2_form .btn input { 
    width: 460px; height: 53px;
    background: #3e78ff; color: #fff;
    border: none; border-radius: 5px;
    font-size: 18px; }


