@charset "utf-8";


/* max-width:1553px(1181~1553) */
@media screen and (max-width:1553px) {
    
    .h1NavTop .nav { 
        position: absolute; 
        top: 0; left: 40%;
        transform: translate(-50%); 
        letter-spacing: 2px;
        z-index: 99999;
    }
    .nav .depth1 > li > a { display: inline-block; padding: 21px 15px;  position: relative;}

}


/* max-width:1180px(767~1180) */
@media screen and (max-width:1180px) {
    /* .row { width: 100%; } */
    .h1NavTop .open_nav { 
        display: block; position: absolute; top: 50%; right: 3%;
        transform: translateY(-50%) }
    .h1NavTop .nav .depth1 { display: none; }
    .h1NavTop .topmenu { display: none; }

    /* 메인슬라이드 텍스트 */
    .slide .slideInner .Inner_text { position: relative; bottom: 150px; left: 82px; }
    
    /* Company */
    .company h2 { text-align: center;  margin-bottom: 40px; }
    .company .comul .comli p { 
        font-size: 15px;
        color: #7a7a7a;
        min-height: 60px;
        line-height: 1.5; }
    .company .comul > div { float: left; text-align: left; }
    .company .comul > div:nth-child(1) { width: 30%; margin-left: 19%; margin-bottom: 8% }
    .company .comul > div:nth-child(2) { width: 30%; margin-bottom: 8%; }
    .company .comul > div:nth-child(3) { width: 30%; margin-left: 19% }
    .company .comul > div:nth-child(4) { width: 30%; }

    /* News */
    .news .news_box_text { 
        border-bottom: 1px solid #eaeaea; padding: 42px 0;
        transition: all 0.5s; position: relative;
        width: 80%; margin-left: 10%; }
    
    /* Product */
    .product > ul > li:nth-child(1) { width: 25%; margin-left: 10%; }
    .product > ul > li:nth-child(2) { width: 25%; }
    .product > ul > li:nth-child(3) { width: 25%; }
    
    .toTop { display: none; }
    
}

@media screen and (max-width:767px) {

    /* 메인슬라이드 */
    .slide .Inner_text {
        width: 100%; 
        text-align: left;
        position: absolute; top: 37.8%; left: 20%;
        transform: translate(-50%,-50%); 
        color: #fff; font-family: sans-serif;
        animation: fadeInUp 1s both; }
    .slide .slideInner .Inner_text span { letter-spacing: 2px; font-family: 'Titillium Web', sans-serif; }
    .slide .slideInner .Inner_text h2 { font-size: 28px; font-weight: 200; line-height: 1.4; font-family: sans-serif; }
    .slide .slideInner .Inner_text p { font-size: 14px; line-height: 1.6; margin-top: 30px; opacity: 0.8; }
    .slide .slideInner .Inner_text strong { font-weight: normal; }

    /* 메인 슬라이드 화살표 */
    .slide .slide-outer .arr {
        width: 100px; height: 50px;
        font-size: 20px; color: #000;
        margin: 50px 0 0;
        width: 50px; height: 50px;  
        background: #fff;
        transition: opacity 0.3s;
        opacity: 0.9; }
    .slide .slide-outer .prev { left: 0px; z-index: 999999; }
    .slide .slide-outer .next { right: 0px; }


    /* Company */
    .company .comul > div { float: left; text-align: left; }
    .company .comul > div:nth-child(1) { width: 100%; margin-left: 0; margin-bottom: 0 }
    .company .comul > div:nth-child(2) { width: 100%; margin-bottom: 0; }
    .company .comul > div:nth-child(3) { width: 100%; margin-left: 0 }
    .company .comul > div:nth-child(4) { width: 100%; }
    .company .comul .comli .imgSize { width: 737px; height: 491px; padding-left: 30px; }
    .company .comul .comli .comText { padding-left: 30px; }
    .company .comul .comli .comText h3 { font-size: 18px; }
    .company .comul .comli .comText p { font-size: 13px; }
    .company .comul .comli .comText span {
        display: inline-block; 
        border: 1px solid #ddd;
        font-size: 15px;
        padding: 12px 28px 12px 18px;
        margin: 5px 0 30px; 
    
    }


   
}