@charset "utf-8";


/* Map 슬라이드 */

/* 맵 슬라이드 줌아웃 효과 */

#map_section .map_slideInner { 
    animation: zoomOutLog 3s both;
    
  }
    
  /* Zooming exits */
  @-webkit-keyframes zoomOutLog {
    from {
      opacity: 1;
      -webkit-transform: scale3d(1.1, 1.1, 1.1);
      transform: scale3d(1.1, 1.1, 1.1);
    }
  
    to {
      opacity: 1;
      -webkit-transform: scale3d(1.0, 1.0, 1.0);
      transform: scale3d(1.0, 1.0, 1.0);
    }
  }
  
  @keyframes zoomOutLog {
   from {
       opacity: 1;
       -webkit-transform: scale3d(1.1, 1.1, 1.1);
       transform: scale3d(1.1, 1.1, 1.1);
    }
   
    to {
       opacity: 1;
       -webkit-transform: scale3d(1.0, 1.0, 1.0);
       transform: scale3d(1.0, 1.0, 1.0);
    }
  }
  .animate__zoomOut {
    -webkit-animation-name: zoomOut;
    animation-name: zoomOut;
  }
  
  /* 슬라이드 텍스트(h2) 애니메이션 */
  .map_slide h2 { animation: fadeInDown 2s both; }
  @keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
    
    /* 슬라이드 텍스트(p) 애니메이션 */ 
    .map_slide p { animation: fadeInUp 2s both 0.5s; }
    @keyframes fadeInUp {
      from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
      }
      
      to {
        opacity: 1;
         -webkit-transform: translate3d(0, 0, 0);
         transform: translate3d(0, 0, 0);
      }
  }


.map_slide .map_slideInner { 
    background-size: cover;
    background-repeat: no-repeat;
    height: 394px;
    position: relative; }
.map_slide .map_slideInner { background-image: url(../images/sub_hero_img1.jpg);}
#map_section { padding: 0 0 300px; }
.map_inner_text {
    position: absolute; top: 53%; left: 50%;
    transform: translate(-50%,-50%); }
.map_inner_text h2 { 
    font-size: 36px; color: #fff;
    text-align: center; }
.map_inner_text p {
    font-size: 15px; color: #ffffffbf; 
    text-align: center;  padding-top: 15px; }

/* 중간지점 select 박스 */
.map_Menu_box { border-bottom: 1px solid #e9e9e9; }    
.map_Menu_box a:nth-child(1) { 
    display: inline-block;
    padding: 20px 20px;
    margin-left: 382px;
    height: 60px;
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9; }
.map_Menu_box a:nth-child(2) {
    display: inline-block;
    padding: 20px 25px;
    border-right: 1px solid #e9e9e9;
    font-family: 'Titillium Web', sans-serif;
    color: #7a7a7a;
}
.map_Menu_box a:nth-child(2):after {
    content: '\f107';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #ccc;
    position: relative; left: 13px; }
.map_Menu_box a:nth-child(3) {
    display: inline-block;
    padding: 20px 25px;
    border-right: 1px solid #e9e9e9; 
    color: #653811;}
.map_Menu_box a:nth-child(3):after {
    content: '\f107';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #ccc;
    position: relative; left: 13px; }

.map_container { padding: 100px 0; width: 100%; }
.map_top { font-size: 38px; color: #222; text-align: center; }


/* Map 지도 */
.map_container { width: 68%; margin: 0 auto; padding: 40px 0 89px; }

/* Map 텍스트 */
.map { width: 100%; }
.map .map_left_text h3 { font-size: 32px; }
.mapTable { 
    margin-top: 35px; border-top: 1px solid #555;
    border-bottom: 1px solid #e5e5e5; padding: 2% 0; }
.mapTable td { height: 35px; line-height: 35px; text-align: left; }

.mapTable table tr td:first-child { color: #333; width: 22%;}
.mapTable table tr td:last-child { color: #777; width: auto; }

@media screen and (max-width: 792px) {
  
  /* 슬라이드 텍스트 */
  #map_section .map_slideInner h2 { 
    font-size: 28px; color: #fff;
    text-align: center; padding-top: 130px; }
  #map_section .map_slideInner p { 
    font-size: 14px; color: #ffffffbf; 
    text-align: center;  padding-top: 15px; }

  /* 오시는길 */
  #map_section .map_top h2 { 
    font-size: 32px; color: #222; 
    text-align: center; padding: 100px 0; }

  /* 중간 select 지점 */
  #map_section .map_Menu_box a:nth-child(1) { 
    display: inline-block;
    padding: 20px 20px;
    margin-left: 382px;
    height: 60px;
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    display: none; }
}

