@charset "utf-8";

/* 제품소개1 슬라이드 줌아웃 효과 */

#product1_section .product1_slideInner {
    animation: zoomOutLog 3s both;
    background-image: url(../images/sub_hero_img3.jpg);
}

/* Zooming exits */
@-webkit-keyframes zoomOutLog {
    from {
        opacity: 1;
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1.0, 1.0, 1.0);
        transform: scale3d(1.0, 1.0, 1.0);
    }
}

@keyframes zoomOutLog {
    from {
        opacity: 1;
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1.0, 1.0, 1.0);
        transform: scale3d(1.0, 1.0, 1.0);
    }
}

.animate__zoomOut {
    -webkit-animation-name: zoomOut;
    animation-name: zoomOut;
}

/* 제품소개1 슬라이드 텍스트(h2) 애니메이션 */
.product1_slide h2 {
    animation: fadeInDown 2s both;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

/* 제품소개1 슬라이드 텍스트(p) 애니메이션 */
.product1_slide p {
    animation: fadeInUp 2s both 0.5s;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

/* 제품소개 */
.product1_slide .product1_slideInner {
    background-size: cover;
    background-repeat: no-repeat;
    height: 399.44px;
}

#product1_section {
    padding-bottom: 100px;
    position: relative;
}

#product1_section .product1_slideInner {
    position: relative;
}

/* 상단 슬라이드 텍스트 */
#product1_section .product1_inner_text {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}
#product1_section .product1_slideInner h2 {
    font-size: 38px; color: #fff;
    text-align: center; padding-top: 130px;
}
#product1_section .product1_slideInner p {
    font-size: 15px; color: #ffffffbf;
    text-align: center; padding-top: 15px;
    
}

/* 본문 텍스트 */
#product1_section .mainText {
    text-align: center;
    margin-bottom: 60px;
}
#product1_section .mainText h2 {
    padding-top: 100px;
    font-size: 38px;
    font-weight: normal;
    color: #222;
    line-height: 1.35;
}
#product1_section .mainText p {
    color: #777;
    line-height: 1.6;
    margin-top: 15px;
}

/* 본문 */
#product1_section .prodImgBox .prodImg { text-align: center; }
#product1_section .prodImgBox .photo { display: inline-block; padding: 0.8%; }
#product1_section .prodImgBox .photo > a { position: relative; }
#product1_section .prodImgBox .photo > a > img { width: 302px; height: 419px; }
#product1_section .prodImgBox .photo .prodtext { background: rgba(0,0,0,0.3); position: relative; }
#product1_section .prodImgBox .photo .prodtext h2 { 
    position: absolute; bottom: 3%; left: 28%; opacity: 0; }
#product1_section .prodImgBox .photo:hover h2 { animation: fadeInUp 1s both; opacity: 1; }

