@charset "utf-8";
@import "reset.css";
@import "common.css";



#siteMap_setcion{ width: 100% }

.tableBox:after,
.tableBox:before { display: table; line-height: 0; content:''; }
.tableBox:after { clear:both; }


/* 사이트맵 */
.site-map-wrap { padding: 50px 0 150px; }
.site-map-wrap .tit { 
    margin-bottom: 27px; text-align: center; 
    font-size: 26px; line-height: 30px }
.site-map-wrap .site-map-cont { 
    border-top: 1px solid #000; 
    border-bottom: 1px solid #ddd }
.site-map-wrap .site-list { 
    padding: 27px 15px; border-bottom: 1px solid #eee; }
.site-map-wrap .site-list:last-child { border-bottom: none }
.red { color: #c22530; }
.green { color: #5b9763; }
.limegreen { color: #a5bf40; }
.blue { color: #4389bc; }
.purple { color: #843086; }
.site-map-wrap .site-list .list-tit-wrap { 
    float: left; min-width: 120px; text-align: center; }
.site-map-wrap .site-list .list-tit-wrap .list-tit { 
    display:block; font-size: 16px; line-height: 20px; }
.site-map-wrap .site-list .list-cont-wrap { float: left; }
.site-map-wrap .site-list .list-cont-wrap .sub-list > li + li { margin-top: 25px; }
.site-map-wrap .site-list .list-cont-wrap .link-tit { 
    font-size: 16px; line-height: 20px; }
.site-map-wrap .site-list .list-cont-wrap .link-tit:hover { 
    color: #6693fb; transition: all 0.3s; }
.site-map-wrap .site-list.en .list-tit-wrap { 
    float: none; padding-bottom: 20px; }
.site-map-wrap .site-list.en .list-cont-wrap { 
    float: none; padding-left: 15px; }


@media (min-width: 1025px){

.site-map-wrap { padding-top: 168px; }
.site-map-wrap .tit { 
    margin-bottom: 56px; text-align: center; font-size:46px;
    line-height:50px; }
.site-map-wrap .site-list{ padding: 38px 0 }
.site-map-wrap .site-list .list-tit-wrap{ float: left; min-width:260px; }
.site-map-wrap .site-list .list-tit-wrap .list-tit { 
    display: inline-block; font-size: 20px; line-height: 1; }
.site-map-wrap .site-list .list-cont-wrap{ 
    float: left; width: -webkit-calc(100% - 260px); 
    width: calc(100% - 260px); }
.site-map-wrap .site-list .list-cont-wrap .sub-list > li + li { margin-top: 0; }
.site-map-wrap .site-list .list-cont-wrap .sub-list > li { 
    float: left; width: 100%; max-width: -webkit-calc(100% / 4);
    max-width:calc(100% / 4); }
.site-map-wrap .site-list .list-cont-wrap .sub-list > li:nth-child(n+5) { margin-top: 40px; }
.site-map-wrap .site-list .list-cont-wrap .link-tit { 
    display: block; width: 95%; font-size: 20px; line-height: 1; }
.site-map-wrap .site-list.en .list-tit-wrap {
    float: left; padding-bottom: 0; }
.site-map-wrap .site-list.en .list-cont-wrap { 
    float: left; padding-left: 0; }
.site-map-wrap .bg-deco { 
    display: block; position: relative;  width: 222px; height: 110px;
    background: url(../images/bg_circle.png) no-repeat;
    top: 150px; left: 1200px;
}

.content-wrap { width: 100%; max-width: 1200px; margin: 0 auto; } 
a .hide-txt { font-size: 1px; }

}